@import "tailwindcss";

@theme {
    --color-primary: #4a90e2; /* Bleu */
    --color-primary-light: #cde9ff; /* Bleu clair */
    --color-secondary: #ffc503; /* Jaune */
    --color-secondary-light: #fff7c3; /* Jaune clair */
    --color-black: #151818; /* Texte principal */
    /* couleur pour niveau d'anglais */
    --color-A1: #19d43f; /* Vert dynamique */
    --color-A2: #f7c01d; /* Orange équilibré */
    --color-B1: #6EC6FF; /* Bleu vif */
    --color-B2: #A67CFF; /* Violet profond */
    --color-C1: #E57373; /* Rouge élégant */
}

:root {
    --popper-theme-background-color: #ffffff;
    --popper-theme-background-color-hover: #ffffff;
    --popper-theme-text-color: #333333;
    --popper-theme-border-width: 1px;
    --popper-theme-border-style: solid;
    --popper-theme-border-color: #eeeeee;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 32px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}